<title>Toptunes | <%= title %></title>
</head>
<body>
  <nav>
    <div class="flex-row nav-left">
      <div class="logo flex-row">
        <a href="/"><i class="fas fa-music tt-logo"></i></a>
        <a href="/"><h1 class="inline">TopTunes</h1></a>
      </div>
      <a href="/songs">Browse</a>
      <% if (self) { %>
        <a href="/profiles/recommend">Recommend</a>
      <% } %>
    </div>
    <div class="flex-row">
      <% if (self) { %>
        <a href="/profiles/<%= self._id %>">
          <h3>Hello, <%= self.displayName %></h3>
        </a>
        <a href="/profiles/<%= self._id %>">
          <img 
          class="pfp"
          height="64px"
          src="<%= self.avatar %>"
          alt="<%= self.displayName %> avatar"
          >
        </a>
        <a href="/auth/logout">
          <i class="fas fa-sign-out-alt"></i>
        </a>
      <% } else { %>
        <a href="/auth/spotify">
          Sign in
        </a>
      <% } %>
    </div>
  </nav>
