<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<div class="profile">
  <div class="profile-info">
    <img class="pfp" src="<%= profile.avatar %>" alt="<%= profile.displayName %>'s avatar">
    <div class="profile-details">
      <h1><%= profile.displayName %></h1>
      <% if (profile.topTune) { %>
        <h3><%= profile.displayName %>'s Top Tune</h3>
        <p><%= profile.topTune %></p>
      <% } else if ( isSelf ) { %>
        <a href="/recs/new">Add a top tune!</a>
      <% } %>
    </div>
  </div>
  <div class="profile-recs flex-row">
    <% if (recs.length != 0) { %>
      <% recs.forEach(rec => { %>
        <div class="rec">
          <img src="<%= rec.song.album %>" alt="album art for the song <%= rec.song.songTitle %> ">
          <div class="rec-text">
            <a href="https://open.spotify.com/track/<%= rec.song.spotifyId %>">
              <h4 class="no-pad"><%= rec.song.songTitle %> by <%= rec.song.artist %></h4>
            </a>
            <p class="no-pad">"<%= rec.recMessage %>"</p>
          </div>
        </div>
      <% }) %> 
    <% } %>
  </div>
</div>
</main>

<%- include('../partials/footer') %>