<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div class="profile-info">
    <img class="user-pfp" src="<%= profile.avatar %>" alt="<%= profile.displayName %>'s avatar">
    <div class="profile-details">
      <h1><%= profile.displayName %></h1>
      <% if (profile.topTune) { %>
        <h3><%= profile.displayName %>'s Top Tune</h3>
        <p><%= profile.topTune %></p>
      <% } else if ( isSelf ) { %>
        <a href="/">Add a top tune!</a>
      <% } %>
    </div>
  </div>
  <div class="profile-recs">
    <% if (profile.recs.length) { %>
      <% profile.recs.forEach(rec => { %>
        <div class="rec">
          <img src="https://i.imgur.com/43hDQMy.jpeg" alt="default album art">
          <div class="rec-text">
            <a href="https://open.spotify.com/track/<%= rec.song.spotifyId %>">
              <h4><%= rec.song.songTitle %> - <%= rec.song.artist %></h4>
            </a>
          </div>
        </div>
      <% }) %> 
    <% } %>
  </div>
</main>

<%- include('../partials/footer') %>